.navContainer {
  background: var(--dashboard-nav-bg-color);
  padding: 1rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navListItem {
}

.navLink {
  color: var(--link-text-color);
  text-decoration: none;
  transition: color 0.3s;
}

.navLink:hover {
  color: var(--link-text-hover-color);
}
