.navContainer {
  background: var(--dashboard-nav-bg-color);
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column; /* Align items vertically */
  gap: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navListItem {
  width: 100%;
}

.navLink {
  color: var(--link-text-color);
  text-decoration: none;
  transition: color 0.3s;
  display: block;
  padding: 0.5rem;
}

.navLink:hover {
  color: var(--link-text-hover-color);
  background-color: var(
    --link-hover-bg-color
  ); /* Optional: Add a hover background color */
  border-radius: 4px; /* Optional: Add some rounding */
}
