.container {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 4rem;
}

.card {
  width: 35rem;
  min-height: 30rem;
  background-color: var(--signin-container-bg-color);
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--body-text-color);
}

.inputGroup {
  margin-bottom: 1.75rem;
}

.label {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--body-text-color);
  margin-bottom: 0.5rem;
}

.input {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: border-color 0.2s;
  font-size: 1.2rem;
  color: var(--signin-text-color);
  background-color: var(--signin-input-bg-color);
}

.input:focus {
  border-color: #6366f1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--signin-btn-bg-color);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.5rem;
}

.button:hover {
  background-color: var(--signin-btn-hover-bg-color);
}

.error {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--error-message-text-color);
}

.formSwitchText {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--signin-text-color); /* Use CSS variable for consistency */
}

.formSwitchLink {
  color: var(--link-text-hover-color); /* Use CSS variable for consistency */
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
}

.formSwitchLink:hover {
  color: var(--link-text-hover-color);
}

/* Responsive Design for Smaller Screens */
@media (max-width: 480px) {
  .card {
    width: 90%;
    padding: 1rem;
    min-height: auto;
  }

  .title {
    font-size: 1.3rem;
  }

  .inputGroup {
    margin-bottom: 1.25rem;
  }

  .label {
    font-size: 0.9rem;
  }

  .input {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .buttonContainer {
    margin-top: 1.3rem;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .error {
    font-size: 1rem;
  }

  .formSwitchText {
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .formSwitchLink {
    font-size: 0.9rem;
  }
}
