/* Footer.module.css */
.footer {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: center;
  /* background-color: #CDD2D3; */
  /* background-color: #C7CCCD; */
  /* background-color: #BFC4C5; */
  /* background-color: #B8BDBE; */

  color: var(--body-text-color);
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
}

.logo {
  display: inline-block;
}
